/* calendar.css */
#Calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table#ComprehensiveTimeTable td {
    font-size: calc(var(--default-font-size)*1.1);
    padding: 0.6em;
    text-align: center;
}

@media screen and (max-width: 700px) {
    table#ComprehensiveTimeTable td {
        font-size: 2.7vw;
    }
}

table#ComprehensiveTimeTable td:nth-child(odd) {
    font-weight: bold;
}

#ClockArea {
    margin-top: 1em;
    text-align: center;
}

#Julian,
#Clock {
    display: inline-block;
    font-family: 'Agave';
    font-weight: bold;
    margin: 0 0.4em;
    font-size: calc(var(--h1-font-size) * 1.55);
}

@media screen and (min-width: 700px) {
    #LeafPage {
        display: none;
    }
}

#LPLock {
    text-align: center;
}

#LPLock button {
    font-size: calc(var(--h1-font-size) * 1.02);
    margin: 5px;
}

#LPPrevious,
#LPNext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#LeafPage button {
    font-size: var(--h1-font-size);
    padding: 0.3em 0.6em;
    margin: 0.1em;
    background-color: var(--button-bg-color);
    border-color: var(--text-color);
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    box-sizing: border-box;
}

#LeafPage button:hover {
    cursor: pointer;
    background-color: var(--button-bg-color-selected);
}