/* general.css */
:root {
    --default-border-radius: 16px;
    --default-body-font-family: 'Tinos Nerd Font Propo';
    --default-code-font-family: '0xProto Nerd Font Mono', 'Agave Nerd Font';
    --default-font-size: 20px;
    --h1-font-size: 32px;
}

@media screen and (max-width: 900px) {
    :root {
        --default-font-size: 18px;
        --h1-font-size: 24px;
    }
}

/* FONT-FACE */

@font-face {
    font-family: 'Tinos Nerd Font Propo';
    src: url("../fonts/TinosNerdFontPropo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '0xProto Nerd Font Mono';
    src: url("../fonts/0xProtoMono/0xProtoNerdFontMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agave Nerd Font';
    src: url("../fonts/AgaveNerdFont/AgaveNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agave Nerd Font';
    src: url("../fonts/AgaveNerdFont/AgaveNerdFont-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '0xProto Nerd Font Mono';
    src: url("../fonts/0xProtoMono/0xProtoNerdFontMono-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: '0xProto Nerd Font Mono';
    src: url("../fonts/0xProtoMono/0xProtoNerdFontMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Amiri;
    src: url("../fonts/Amiri/Amiri-Regular.ttf") format("truetype");
    font-weight: normal;
}

/* RTL */

.rtl {
    direction: rtl;
    text-align: right;
}

/* LAYOUT DESGINATION */

.inlineblock {
    display: inline-block;
}

/* TEXT LAYOUT */
body {
    background-color: var(--background-color);
}

* {
    transition-property: all;
    transition-duration: 1000ms;
}

body * {
    font-family: var(--default-body-font-family);
    color: var(--text-color);
    font-size: var(--default-font-size);
}

*::selection {
    background-color: var(--selection-bg-color-1);
    color: var(--text-color-reversed-1);
}

em,
i {
    font-style: italic;
}

strong {
    font-weight: bold;
}

p,
em,
i,
strong,
a {
    margin: 0 0 0.5em 0;
}

blockquote {
    border-left: 4px solid var(--weak-text-color);
    margin: 0.5em;
    padding-left: 1em;
}

@media screen and (max-width: 900px) {
    blockquote {
        border-left: 3px solid var(--weak-text-color);
        padding-left: 0.5em;
    }

    quote {
        margin: 0.3em;
    }
}

blockquote * {
    color: var(--weak-text-color);
    font-style: italic;
}

quote {
    display: inline;
    margin: 0.5em;
    font-style: italic;
    color: var(--weak-text-color);
}

code {
    font-family: var(--default-code-font-family);
    box-sizing: content-box;
    margin: 0 0.2em;
    padding: 0.1em 0.2em;
    display: inline-block;
    background-color: var(--emphasis-bg-color-1);
    border-radius: 6px;
    transition-property: all;
    transition-duration: 400ms;
}

code em,
code i {
    font-family: var(--default-code-font-family);
}

code::selection,
code em::selection,
code i::selection {
    background-color: var(--selection-bg-color-reversed-1);
    color: var(--text-color);
}

code:hover {
    background-color: var(--emphasis-bg-color-2);
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

h1.headTitle {
    display: block;
    position: sticky;
    background-color: var(--background-color);
    top: 0;
    padding: 0;
    margin-top: 0;
    font-size: var(--h1-font-size);
    transition-duration: 100ms;
}

h1.headTitle.is-sticky {
    text-align: center;
    padding: 0.2em 0 0.2em 0;
    border-bottom: 3px solid var(--text-color);
    box-shadow: 0 2px 5px var(--text-color);
    font-size: calc(var(--h1-font-size)*0.9);
}

@media screen and (max-width: 900px) {
    h1.headTitle.is-sticky {
        border-bottom: 2px solid var(--text-color);
        box-shadow: 0 1px 3px var(--text-color);
        font-size: calc(var(--h1-font-size)*0.8);
    }
}

h1.headTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1.headTitle.folded:hover::before {
    content: "\eaf3 ";
}

h1.headTitle.unfolded:hover::before {
    content: "\eaf4 ";
}

h1.headTitle.latest::after {
    content: " \f0394";
    font-weight: 100;
    font-size: 1em;
}

p.topicArea {
    margin: 0.5em 0 0 0;
}

span.topic {
    color: var(--topic-color);
    margin-right: 1em;
    transition-property: all;
}

span.topic:hover {
    text-decoration: underline;
    cursor: pointer;
}

span.topic::before {
    content: "\f4df";
    color: var(--topic-color);
}

span.topic:hover::before {
    content: "\e273";
}

a[href="https://github.com/QuartzQuincy2019"]::before,
a[href="https://quartzquincy2019.github.io/SPWTT/Home.html"]::before,
a[href="https://quartzquincy2019.github.io/OTFWC/OTFWC.html"]::before,
a[href="https://quartzquincy2019.github.io/SVBOD/index.html"]::before,
a[href="https://quartzquincy2019.github.io/TEBOS/index.html"]::before,
a[href="https://quartzquincy2019.github.io/AGHGC/IGE.html"]::before,
a[href="https://quartzquincy2019.github.io/AGHGC/AGHGC.html"]::before {
    content: "\f408  ";
}

/* TABLE LAYOUT */
table {
    margin: 0.5em;
}

table,
table th,
table td {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    text-align: center;
}

table th,
table td {
    padding: 0.5em;
}

tfoot {
    font-weight: bold;
}

button {
    background-color: var(--emphasis-bg-color-2);
}

/* UNIVERSAL */

.alert {
    color: #ff0000;
    text-shadow: 1px 1px 2px #ffffff, -1px -1px 2px #ffffff;
}

.emphasis {
    color: #0000ff;
    text-shadow: 1px 1px 2px #ffffff, -1px -1px 2px #ffffff;
}

.weak,
.weak * {
    color: var(--weak-text-color);
}



/* SPECIAL FONT */

.arabic,
.ara,
.arabic *,
.ara * {
    font-family: sans-serif, 'Segoe UI';
}

.naskh {
    font-family: Amiri;
    font-size: calc(var(--default-font-size)*1.2);
}

.agave,
.agave * {
    font-family: 'Agave Nerd Font';
}

code *,
code {
    font-family: var(--default-code-font-family) !important;
}