/* bright.css */
:root {
    --background-color: #ffffff;
    --button-bg-color: #e7e7e7;
    --button-bg-color-selected: #ffde79;
    --emphasis-bg-color-1: #f1f1f1;
    --emphasis-bg-color-2: #dcdcdc;
    --emphasis-bg-color-reversed-1: #db0058;
    --selection-bg-color-1: #007bff;
    --selection-bg-color-reversed-1: #ffe251;
    --text-color: #000000;
    --weak-text-color: #8f8f8f;
    --text-color-reversed-1: #ffffff;
    --link-color: #0049c6;
    --card-shadow-1: #9f9f9f;
    --topic-color: #ff8000;
    --independent-emphasis-color: #0000ff;
    --independent-alert-color: #ff0000;
    --border-end-color: #001997;
}

.cross {
    background-color: #ffffff;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#d7d7d7 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #d7d7d7 1px, #ffffff 1px) -0.5px 0;
    background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
}

.zigzag3d {
    background-color: #ffffff;
    opacity: 1;
    background: linear-gradient(135deg, #eaeaea55 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(225deg, #eaeaea 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(315deg, #eaeaea55 25%, transparent 25%) 0px 0/ 32px 32px, linear-gradient(45deg, #eaeaea 25%, #ffffff 25%) 0px 0/ 32px 32px;
}